__pycache__/

chat_data/*.json
raw_chat_data/*.json
compressed_chat_data/*.gz

# Build directories.
chrome/
firefox/

# Build files
RestoreFaunaEmotes-Chrome.zip
RestoreFaunaEmotes-Firefox.zip
stats.txt
